{% extends 'bootstrap-theme-layout.twig' %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center">Registration successful!</h2>

    <div class="row top-buffer-40">
      <p>Your username: {{ user.username }}</p>
      <p>Your email: {{ user.email }}</p>
    </div>
</div>
{% endblock %}

